<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cutecomm.smartsdk">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application android:allowBackup="true">

        <!-- activity dialog -->
        <activity
            android:name="com.cutecomm.cloudcc.activity.dialog.DialogActivity"

            android:theme="@android:style/Theme.Dialog"></activity>

        <service android:name="com.cutecomm.smartsdk.connect.xmpp.CChelperService" />

        <activity
            android:name="com.cutecomm.cchelper.capture.RequetAuthorizationActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent"></activity>
    </application>

</manifest>